# Arquivo de exemplo para armazenar credenciais estáticas. Não faça commit com as suas chaves!
# Credenciais Nativas do Azure
export ARM_CLIENT_ID="O ID do seu app (appID)"
export ARM_CLIENT_SECRET="A senha do app (password)"
export ARM_SUBSCRIPTION_ID="ID da assinatura do Azure (subscriptionID)"
export ARM_TENANT_ID="GUID de identificação exclusiva do app (tenant)"

# Variáveis do seu arquivo .tf
export TF_VAR_ARM_PRIMARY_REGION="Região primária dos recursos"
export TF_VAR_ARM_SECONDARY_REGION="Região de backup dos recursos"
