# Arquivo de exemplo para armazenar credenciais estáticas. Não faça commit com as suas chaves!
# Variável do seu código main.tf (Com TF_VAR_)
# Cole aqui a sua chave JSON do Service Account CONVERTIDA EM BASE64
export TF_VAR_GOOGLE_CREDENTIALS_B64="Arquivo .json convertido em base64"

# Variáveis do seu código main.tf (Com TF_VAR_)
export TF_VAR_GCP_PROJECT="ID do projeto"
export TF_VAR_GCP_PRIMARY_REGION="Região primária dos recursos"
export TF_VAR_GCP_SECONDARY_REGION="Região de backup dos recursos"
